html {
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 1%;
}

.text-box{
	position: absolute;
}

.header {
	height: 95vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.3), rgba(40, 180, 131, 0.3)), url("Neo Laptop.jpg");
	/*clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
	position: relative;
}
 .heading-primary {
 	color: white;
 	text-transform: uppercase;
	backface-visibility: hidden;
 }

 .heading-primary-main {
 	display: block;
 	font-size: 2em;
 	font-weight: 400;
 	letter-spacing: .13em;
 	animation-name: moveInLeft;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
 }

 .heading-primary-sub {
	display: block;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: .4em;
	animation-name: moveUp;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
 }

@keyframes moveInLeft {
 0% {
 	opacity: 0;
 	transform: translateX(-80%);
 }


75% {
	transform: translateX(25%);
}

100% {
	opacity: 1;
	transform: translate(0);
}
}

@keyframes moveUp {
 0% {
 	opacity: 0;
 	transform: translateX(100%);
 }


75% {
	transform: translateX(-25%);
}

100% {
	opacity: 1;
	transform: translate(0);
}
}






}











